/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-dropdownmenu li a:hover,
.tg-dropdownmenu li.tg-active a,
.tg-navigation > ul > li:hover > a,
.tg-navigation > ul > li > a:hover,
.sub-menu > li.current-menu-item > a,
.sub-menu > li:hover > a,
.sub-menu > li > a:hover,
.tg-btndel,
.tg-navigation .mega-menu-col > a:hover,
.tg-navigation .mega-menu-col > ul > li > a:hover,
.tg-shortcodetext h2,
.tg-feature:hover .tg-iconbox i,
.tg-feature:hover .tg-btnreadmore,
.tg-title h3:hover a,
.tg-themepost:hover .tg-themeposttitle h3 a,
.tg-themepost:hover .tg-btnreadmore,
.tg-counter h2 span,
.tg-sectiontitles h2,
.tg-contactinfo li span a:hover,
.tg-widgetopeninghours.tg-widget ul li a:before,
.tg-widgettweets .tg-description p a,
.tg-widget ul li:hover a,
.tg-widgetinstagram ul li figure figcaption a,
.tg-widgetmenu ul li.tg-active a,
.tg-btnprevpost a figure figcaption i,
.tg-btnnextpost a figure figcaption i,
.tg-widgetpractivearea ul li:hover a,
.tg-widgetcatagories ul li:hover a span,
.tg-widgetcatagories ul li:hover a em,
.tg-otheraddress > li:hover .tg-officename span,
.tg-otheraddress > li:hover .tg-officename h3,
.tg-product:hover .tg-producttitle h2 a,
.tg-product:hover .tg-btnaddtocart,
.tg-datepicker .ui-datepicker th span,
.tg-btnsimpleprev:hover,
.tg-btnsimplenext:hover,
.tg-formjoinnow fieldset .tg-checkbox label span,
.timer_box h1,
.tg-optionset li a.tg-active,
.tg-optionset li a:hover,
.tg-priceavailability .tg-price,
.tg-tabpan .tg-contentbox h3,
.tg-dropcapstyltwo p:first-letter,
.tg-dropcapstylfour p:first-letter,
.tg-description .tg-first-color,
.tg-blockquotstyleone i,
.tg-liststyletwo > li:after,
.tg-liststyle.tg-liststyleicon > li > i,
.tg-datepicker .ui-datepicker-current-day > .ui-state-active,
.tg-headerversionthree .tg-navigation ul li .sub-menu li:hover a,
.tg-headerversionthree .tg-navigation ul li .mega-menu-row li ul li:hover a,
.tg-navigation > ul > li:after,
.tg-navigation > ul > li:after{color: #00c853;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-homeslidervone .tg-slidercontent .tg-btn:hover,
.tg-cartgrandtotal h2,
.tg-badge,
.tg-btnsubmit,
.tg-btn,
.tg-cartitem:after,
.pogoSlider--dirTopLeft .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirTopRight .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirBottomLeft .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirBottomRight .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirTopLeft .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirTopRight .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirBottomLeft .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirBottomRight .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn--prev:hover,
.tg-slidercontenttitle span,
.tg-freeconsultation,
.tg-typeicon,
.tg-upcomingeventcounter,
.tg-newsletter:before,
.tg-widgetusefullinks ul li:hover a:after,
.tg-footerbar,
.tg-awards figure:hover .tg-time,
.tg-featurev2 .tg-feature:hover .tg-iconbox,
.tg-bgred,
.tg-pagination ul li:hover a,
.tg-pagination ul li.tg-prevpage:hover a,
.tg-pagination ul li.tg-nextpage:hover a,
.tg-widgetmenu ul li a:before,
.tg-widgetmenu ul li.tg-active a:before,
.tg-widgetreadytohelp,
blockquote:before,
.tg-widgetpractivearea ul li:hover:after,
.tg-widgetbrochure,
.tg-inputwithicon i,
.tg-otheraddress > li:hover .tg-addresshead i,
.tg-datepicker .ui-state-highlight,
.tg-datepicker .ui-widget-content .ui-state-highlight,
.tg-eventinfo li i,
.tg-btnreply:hover,
.tg-certifcatesawards .tg-masonrygrid figure figcaption i,
.tg-productquentity .minus:hover,
.tg-productquentity .plus:hover,
.tg-dropcapstyleone p:first-letter,
.tg-dropcapstylethree p:first-letter,
.tg-description .tg-secendorycolor,
.tg-liststyleone > li:after,
.tg-homeslidervthree .tg-slidercontent,
.navbar-toggle .icon-bar,
.tg-backbox,
.tg-dropdowarrow,
.tg-locationbtn,
.tg-imgvideoslider .tg-btnsimpleprev:hover,
.tg-imgvideoslider .tg-btnsimplenext:hover,
.tg-headerversionthree .tg-navigationarea,
.tg-btnroundprev:hover,
.tg-btnroundnext:hover,
.tg-headerversionfour .tg-navigation > ul > li:after,
.tg-headerversionfour .tg-navigation > ul > li.current-menu-item:after,
.tg-headerversionfour .tg-addnav > ul > li > a.tg-btnsearch{background:#00c853;}
/*=============================================
			Theme Border Color
=============================================*/
body,
input:focus,
.select select:focus,
.form-control:focus,
.sub-menu,
.tg-cartgrandtotal:before,
.pogoSlider--dirTopLeft .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirTopRight .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirBottomLeft .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirBottomRight .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn--next:hover,
.pogoSlider--dirTopLeft .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirTopRight .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirBottomLeft .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirBottomRight .pogoSlider-dir-btn--prev:hover,
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn--prev:hover,
.mega-menu,
.tg-footer,
.tg-hasborder .tg-pagetitle,
.tg-featurev2 .tg-feature:hover .tg-iconbox,
.tg-otheraddress > li:hover .tg-addresshead i,
.tg-btnreply:hover,
.navbar-toggle,
.tg-locationbtn:after,
.tg-locationbtn:before,
.tg-locations{border-color: #00c853;}